h1 {
  background-color: #83a8f9;
  text-align: center;
  color: white;
  padding: 30px;
}
h2 {
  color: #83a8f9;
}
.importante {
  text-decoration: underline;
}
table {
  background-color: #adc4f8;
  border-collapse: collapse;
  padding: 10px;
}
thead {
  color: white;
  background-color: #83a8f9;
  border: 2px solid white;
}

tr > th {
  font-weight: bold;
  background-color: #3383ff;
  border-top-color: white;
}
tr:first-child {
  background-color: aliceblue;
}

#descanso {
  background-color: aliceblue;
  text-align: center;
  font-weight: bold;
}
td,
th {
  border: white 2px solid;
}
